
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  width: 100%;
  height: 80px;

}

.header h4 {
  display: inline-block;
  color: mediumaquamarine;
  padding-left: 30px;


}
.header span{
  display: inline-block;
  flex-grow: 2;
  padding-left:500px;
  padding-right: 30px;
}
a {
  color: black;
}

.container {
  display: flex;
  border: thin solid black;
  flex-direction: row;
  justify-content: space-between;

}
.container h3 {
  font-family: Georgia;
  display: flex;

}
.container p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.large {
  width: 630px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 5px 10px;
}

.container-top{
  display: flex;
}

.tuna-head p {
  background-image: url("../images/main-story.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.container-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.orca{
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.orca-footer p {
  background-image: url("../images/fall.png");
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.burger{
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.burger-footer p{
  background-image: url("../images/cameraman.png");
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.medium{
  width: 300px;
  display: inline-block;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin: 5px 10px;
}
.cat-head p{
  background-image: url("../images/cat.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.small{
  width: 240px;
  display:flex;
  display: inline-block;
  justify-content: flex-end;
  margin: 5px 10px;
  }

  .news-bites h4{
    font-size: 16px;
    font-weight: bold;
  }
  .bites p{
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    margin: 0px 0px;
    border-bottom-style: outset;
    border-width: 1px;
    border-color: black;
  }

footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;

  align-content: center;
  justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;


}
/*
  .footer-container{
    display:inline-block;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  */
  .footer-container h4 {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: inline-block;
    flex-direction: row;
    align-content: center;

  }
  .nav-bottom {

    justify-content: space-between;
    text-align: center;
  }
 .copyright p{

 }
