
.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  width: 100%;
  height: 80px;
  flex-direction: row;

}

.header h4 {
  display: inline-block;
  color: mediumaquamarine;
  padding-left: 30px;
  padding-right: 5px;


}
.header nav{
  display: inline-block;
  justify-content: flex-end;
  flex-grow: 2;
  margin-left: 1100px;

}
a {
  color: black;
}

.container {
  display: flex;
  border: thin solid black;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 250px;
  padding-right: 250px;


}
.container h3 {
  font-family: Georgia;
  display: flex;

}
.container p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.large {
  width: 630px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 0px 10px;
}

.container-top{
  display: flex;
}

.tuna-head p {
  background-image: url("../images/main-story.png");
  display: inline-block;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

}

.container-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.orca{
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.orca-footer p {
  background-image: url("../images/fall.png");
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.burger{
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  margin: 5px 10px;
}

.burger-footer p{
  background-image: url("../images/cameraman.png");
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.medium{
  width: 300px;
  display: inline-block;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin: 0px 10px;
}
.cat-head p{
  background-image: url("../images/cat.png");
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.small{
  width: 240px;
  display:flex;
  display: inline-block;
  justify-content: flex-end;
  margin: 5px 5px;
  }

  .news-bites h4{
    font-size: 16px;
    font-weight: bold;
  }
  .bites p{
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    margin: 0px 0px;
    border-bottom-style: outset;
    border-width: 1px;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;

  align-items: center;
  justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 325px;


}
/*
  .footer-container{
    display:inline-block;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  */
  .footer-container h4 {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;

  }
  .footer-container nav{

    justify-content: space-between;
    display: inline-block;
    text-align: center;
    padding-left: 25px;
  }
 .copyright p{

 }
